

.row{
    margin-left: 13%;
    height: 63vh;
    background-color: #8fc4c8;
    border-radius: 20px;
   
  }
  button{width: 38%;
          
  
  }
  #li{color:  #17888c;}
  
  a{
  text-decoration: none;
  }
  
  form{
    margin-top: 6%;
    border-radius: 20px;
    height: 85%;
    padding-top: 10px
  
    
    /* background-color: #c4544a; */
  }
  form:hover{-ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(0.9);
  }
  
 
 
  
  
  input{
  border-radius: 5px;
  border-style: hidden;
  border-bottom-style:groove;
  height: 40px;
  }

  #forgot:hover{ color: red;
          
  }
  button{
          background-color:  rgba(249, 189, 11, 0.823);;
  }
  button:hover{
                background-color:rgb(3, 147, 3);
  }
  
  img{height: 60%;
      width: 60%;
      margin-top: 15%;
    }

    img:hover{-ms-transform: scale(1.1); /* IE 9 */
      -webkit-transform: scale(1.1); /* Safari 3-8 */
      transform: scale(1.09);
      }

    @media screen and (max-width: 767px) {
      img {
        display: none;
      }
    }