<div class="row" style="width: 100%;height: 70vh;">
    <div class="col-md-6 col-sm-12">
<div class="mt-5 ">
    <h2>Account Statement</h2>
</div>
<div >
    <div class="pagination container  " style="height: 100%; width: 100%;">
        
        <button type="button" class="active btn " >All</button>
        <button type="button" class="btn ">Debit</button>
        <button type="button" class="btn ">Credit</button>
      </div>
</div>
<div>
    <table  class="bg-primary  container text-center mx-2 ">
        <tr>
            <th>#</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
       
    </table>
</div>
<div class="mt-5 " >
<button type="button" class="btn btn-primary" id="exportbtn">Export As<i class="fa-solid fa-file mx-2" style="color: #f9b90d;"></i></button>
</div>
</div>
<div class="col-md-6 col-sm-12">
    <div id="imgpart">
    <img src="https://i.postimg.cc/2SbS0hRX/bank.jpg" alt="">
    </div>
    <div>
        <button id="backTo" type="button" class="btn  mt-3 text-center">Back To<i class="fa-solid fa-house fa-beat-fade mx-2" style="color: #f9b90d;"></i></button>
    </div>

</div>
</div>
