input{
    border-radius: 5px;
    border-style: hidden;
    border-bottom-style:groove;
    height: 40px;}

button{
    width: 20%;
    background-color: rgba(249, 189, 11, 0.823);
}
button:hover{
    background-color:rgb(3, 147, 3);
}
#main{
    width: 100%;
    height: 90%;
}
form{ border-radius: 20px;
    height: 100%;
    background-color:#8fc4c8;
    
    
    
}
img{
    height: 100%;
    width: 73%;
}

#su{
    color: #17888c;
    padding-top: 25px;
}

